<a href="https://colab.research.google.com/github/yuvi31102000/Loan_default/blob/main/Loan_default.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
cur_app = pd.read_csv("/content/drive/MyDrive/application_data.csv")

In [7]:
cur_app.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
pre_app = pd.read_csv("/content/drive/MyDrive/previous_application.csv")
pre_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(f'Current application size: {cur_app.shape}')
print(f'Previous application size: {pre_app.shape}')

Current application size: (307511, 122)
Previous application size: (1670214, 37)

In [10]:
df_cur_app = cur_app.copy()
df_pre_app = pre_app.copy()

In [12]:
df_cur_app.columns.to_list()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [13]:
df_cur_app_nulls = pd.DataFrame(df_cur_app.isnull().sum().sort_values(ascending=False))

In [14]:
df_cur_app_nulls.reset_index(inplace=True)

In [15]:
df_cur_app_nulls.rename(columns={'index': 'column_name', 0: 'null_count'}, inplace=True)

In [17]:
df_cur_app_nulls.to_excel('cur_app_nulls.xlsx', index=False)

In [18]:
pd.read_excel('cur_app_nulls.xlsx')

                      column_name  null_count
0                  COMMONAREA_AVG      214865
1                 COMMONAREA_MODE      214865
2                 COMMONAREA_MEDI      214865
3        NONLIVINGAPARTMENTS_MEDI      213514
4        NONLIVINGAPARTMENTS_MODE      213514
5         NONLIVINGAPARTMENTS_AVG      213514
6              FONDKAPREMONT_MODE      210295
7            LIVINGAPARTMENTS_AVG      210199
8           LIVINGAPARTMENTS_MEDI      210199
9           LIVINGAPARTMENTS_MODE      210199
10                 FLOORSMIN_MODE      208642
11                  FLOORSMIN_AVG      208642
12                 FLOORSMIN_MEDI      208642
13                YEARS_BUILD_AVG      204488
14               YEARS_BUILD_MODE      204488
15               YEARS_BUILD_MEDI      204488
16                    OWN_CAR_AGE      202929
17                  LANDAREA_MEDI      182590
18                   LANDAREA_AVG      182590
19                  LANDAREA_MODE      182590
20              BASEMENTAREA_MODE      179943
21              BASEMENTAREA_MEDI      179943
22               BASEMENTAREA_AVG      179943
23                   EXT_SOURCE_1      173378
24             NONLIVINGAREA_MODE      169682
25              NONLIVINGAREA_AVG      169682
26             NONLIVINGAREA_MEDI      169682
27                  ELEVATORS_AVG      163891
28                 ELEVATORS_MEDI      163891
29                 ELEVATORS_MODE      163891
30             WALLSMATERIAL_MODE      156341
31                 APARTMENTS_AVG      156061
32                APARTMENTS_MEDI      156061
33                APARTMENTS_MODE      156061
34                 ENTRANCES_MODE      154828
35                 ENTRANCES_MEDI      154828
36                  ENTRANCES_AVG      154828
37                 LIVINGAREA_AVG      154350
38                LIVINGAREA_MEDI      154350
39                LIVINGAREA_MODE      154350
40                 HOUSETYPE_MODE      154297
41                 FLOORSMAX_MODE      153020
42                  FLOORSMAX_AVG      153020
43                 FLOORSMAX_MEDI      153020
44   YEARS_BEGINEXPLUATATION_MODE      150007
45   YEARS_BEGINEXPLUATATION_MEDI      150007
46    YEARS_BEGINEXPLUATATION_AVG      150007
47                 TOTALAREA_MODE      148431
48            EMERGENCYSTATE_MODE      145755
49                OCCUPATION_TYPE       96391
50                   EXT_SOURCE_3       60965
51     AMT_REQ_CREDIT_BUREAU_HOUR       41519
52     AMT_REQ_CREDIT_BUREAU_WEEK       41519
53      AMT_REQ_CREDIT_BUREAU_MON       41519
54     AMT_REQ_CREDIT_BUREAU_YEAR       41519
55      AMT_REQ_CREDIT_BUREAU_DAY       41519
56      AMT_REQ_CREDIT_BUREAU_QRT       41519
57                NAME_TYPE_SUITE        1292
58       DEF_60_CNT_SOCIAL_CIRCLE        1021
59       OBS_60_CNT_SOCIAL_CIRCLE        1021
60       DEF_30_CNT_SOCIAL_CIRCLE        1021
61       OBS_30_CNT_SOCIAL_CIRCLE        1021
62                   EXT_SOURCE_2         660
63                AMT_GOODS_PRICE         278
64                    AMT_ANNUITY          12
65                CNT_FAM_MEMBERS           2
66         DAYS_LAST_PHONE_CHANGE           1
67        HOUR_APPR_PROCESS_START           0
68    LIVE_REGION_NOT_WORK_REGION           0
69     REG_REGION_NOT_LIVE_REGION           0
70              ORGANIZATION_TYPE           0
71             NAME_CONTRACT_TYPE           0
72                   FLAG_OWN_CAR           0
73                     SK_ID_CURR           0
74                     AMT_CREDIT           0
75               AMT_INCOME_TOTAL           0
76                   CNT_CHILDREN           0
77               NAME_INCOME_TYPE           0
78             NAME_FAMILY_STATUS           0
79              NAME_HOUSING_TYPE           0
80     REGION_POPULATION_RELATIVE           0
81            NAME_EDUCATION_TYPE           0
82                     DAYS_BIRTH           0
83                  DAYS_EMPLOYED           0
84              DAYS_REGISTRATION           0
85                DAYS_ID_PUBLISH           0
86                     FLAG_MOBIL           0
87                 FLAG_EMP_PHONE           0
88                FLAG_WORK_PHONE           0
89               FLAG_CONT_MOBILE           0
90                    CODE_GENDER           0
91                         TARGET           0
92                FLAG_OWN_REALTY           0
93                     FLAG_EMAIL           0
94           REGION_RATING_CLIENT           0
95    REGION_RATING_CLIENT_W_CITY           0
96     WEEKDAY_APPR_PROCESS_START           0
97                     FLAG_PHONE           0
98         REG_CITY_NOT_LIVE_CITY           0
99         REG_CITY_NOT_WORK_CITY           0
100       LIVE_CITY_NOT_WORK_CITY           0
101    REG_REGION_NOT_WORK_REGION           0
102               FLAG_DOCUMENT_4           0
103               FLAG_DOCUMENT_5           0
104               FLAG_DOCUMENT_2           0
105               FLAG_DOCUMENT_3           0
106              FLAG_DOCUMENT_11           0
107              FLAG_DOCUMENT_10           0
108               FLAG_DOCUMENT_9           0
109               FLAG_DOCUMENT_8           0
110               FLAG_DOCUMENT_7           0
111               FLAG_DOCUMENT_6           0
112              FLAG_DOCUMENT_12           0
113              FLAG_DOCUMENT_13           0
114              FLAG_DOCUMENT_19           0
115              FLAG_DOCUMENT_18           0
116              FLAG_DOCUMENT_17           0
117              FLAG_DOCUMENT_16           0
118              FLAG_DOCUMENT_15           0
119              FLAG_DOCUMENT_14           0
120              FLAG_DOCUMENT_20           0
121              FLAG_DOCUMENT_21           0

In [24]:
df_cur_app_nulls['percentage'] = round(df_cur_app_nulls['null_count'] / df_cur_app.shape[0] * 100, 2)

In [25]:
df_cur_app_nulls.to_excel('cur_app_nulls.xlsx', index=False)

In [26]:
df_cur_app_nulls[df_cur_app_nulls['percentage'] > 40][['column_name', 'percentage']]

                     column_name  percentage
0                 COMMONAREA_AVG       69.87
1                COMMONAREA_MODE       69.87
2                COMMONAREA_MEDI       69.87
3       NONLIVINGAPARTMENTS_MEDI       69.43
4       NONLIVINGAPARTMENTS_MODE       69.43
5        NONLIVINGAPARTMENTS_AVG       69.43
6             FONDKAPREMONT_MODE       68.39
7           LIVINGAPARTMENTS_AVG       68.35
8          LIVINGAPARTMENTS_MEDI       68.35
9          LIVINGAPARTMENTS_MODE       68.35
10                FLOORSMIN_MODE       67.85
11                 FLOORSMIN_AVG       67.85
12                FLOORSMIN_MEDI       67.85
13               YEARS_BUILD_AVG       66.50
14              YEARS_BUILD_MODE       66.50
15              YEARS_BUILD_MEDI       66.50
16                   OWN_CAR_AGE       65.99
17                 LANDAREA_MEDI       59.38
18                  LANDAREA_AVG       59.38
19                 LANDAREA_MODE       59.38
20             BASEMENTAREA_MODE       58.52
21             BASEMENTAREA_MEDI       58.52
22              BASEMENTAREA_AVG       58.52
23                  EXT_SOURCE_1       56.38
24            NONLIVINGAREA_MODE       55.18
25             NONLIVINGAREA_AVG       55.18
26            NONLIVINGAREA_MEDI       55.18
27                 ELEVATORS_AVG       53.30
28                ELEVATORS_MEDI       53.30
29                ELEVATORS_MODE       53.30
30            WALLSMATERIAL_MODE       50.84
31                APARTMENTS_AVG       50.75
32               APARTMENTS_MEDI       50.75
33               APARTMENTS_MODE       50.75
34                ENTRANCES_MODE       50.35
35                ENTRANCES_MEDI       50.35
36                 ENTRANCES_AVG       50.35
37                LIVINGAREA_AVG       50.19
38               LIVINGAREA_MEDI       50.19
39               LIVINGAREA_MODE       50.19
40                HOUSETYPE_MODE       50.18
41                FLOORSMAX_MODE       49.76
42                 FLOORSMAX_AVG       49.76
43                FLOORSMAX_MEDI       49.76
44  YEARS_BEGINEXPLUATATION_MODE       48.78
45  YEARS_BEGINEXPLUATATION_MEDI       48.78
46   YEARS_BEGINEXPLUATATION_AVG       48.78
47                TOTALAREA_MODE       48.27
48           EMERGENCYSTATE_MODE       47.40

In [27]:
df_col_info = pd.read_csv('/content/drive/MyDrive/columns_description.csv')

In [28]:
cur_app_null_info = pd.merge(left=df_cur_app_nulls, right=df_col_info, how='inner', left_on='column_name', right_on='Row')[['column_name', 'percentage', 'Description']]

In [29]:
cur_app_null_info.to_excel('cur_app_null_info.xlsx', index=False)

In [41]:
cur_app_null_info[cur_app_null_info['percentage'] > 40]

,column_name,percentage,Description
0,COMMONAREA_AVG,69.87,Normalized information about building where th...
1,COMMONAREA_MODE,69.87,Normalized information about building where th...
2,COMMONAREA_MEDI,69.87,Normalized information about building where th...
3,NONLIVINGAPARTMENTS_MEDI,69.43,Normalized information about building where th...
4,NONLIVINGAPARTMENTS_MODE,69.43,Normalized information about building where th...
5,NONLIVINGAPARTMENTS_AVG,69.43,Normalized information about building where th...
6,FONDKAPREMONT_MODE,68.39,Normalized information about building where th...
7,LIVINGAPARTMENTS_AVG,68.35,Normalized information about building where th...
8,LIVINGAPARTMENTS_MEDI,68.35,Normalized information about building where th...
9,LIVINGAPARTMENTS_MODE,68.35,Normalized information about building where th...
10,FLOORSMIN_MODE,67.85,Normalized information about building where th...
11,FLOORSMIN_AVG,67.85,Normalized information about building where th...
12,FLOORSMIN_MEDI,67.85,Normalized information about building where th...
13,YEARS_BUILD_AVG,66.50,Normalized information about building where th...
14,YEARS_BUILD_MODE,66.50,Normalized information about building where th...
15,YEARS_BUILD_MEDI,66.50,Normalized information about building where th...
16,OWN_CAR_AGE,65.99,Age of client's car
17,LANDAREA_MEDI,59.38,Normalized information about building where th...
18,LANDAREA_AVG,59.38,Normalized information about building where th...
19,LANDAREA_MODE,59.38,Normalized information about building where th...
20,BASEMENTAREA_MODE,58.52,Normalized information about building where th...
21,BASEMENTAREA_MEDI,58.52,Normalized information about building where th...
22,BASEMENTAREA_AVG,58.52,Normalized information about building where th...
23,EXT_SOURCE_1,56.38,Normalized score from external data source
24,NONLIVINGAREA_MODE,55.18,Normalized information about building where th...
25,NONLIVINGAREA_AVG,55.18,Normalized information about building where th...
26,NONLIVINGAREA_MEDI,55.18,Normalized information about building where th...
27,ELEVATORS_AVG,53.30,Normalized information about building where th...
28,ELEVATORS_MEDI,53.30,Normalized information about building where th...
29,ELEVATORS_MODE,53.30,Normalized information about building where th...
30,WALLSMATERIAL_MODE,50.84,Normalized information about building where th...
31,APARTMENTS_AVG,50.75,Normalized information about building where th...
32,APARTMENTS_MEDI,50.75,Normalized information about building where th...
33,APARTMENTS_MODE,50.75,Normalized information about building where th...
34,ENTRANCES_MODE,50.35,Normalized information about building where th...
35,ENTRANCES_MEDI,50.35,Normalized information about building where th...
36,ENTRANCES_AVG,50.35,Normalized information about building where th...
37,LIVINGAREA_AVG,50.19,Normalized information about building where th...
38,LIVINGAREA_MEDI,50.19,Normalized information about building where th...
39,LIVINGAREA_MODE,50.19,Normalized information about building where th...
40,HOUSETYPE_MODE,50.18,Normalized information about building where th...
41,FLOORSMAX_MODE,49.76,Normalized information about building where th...
42,FLOORSMAX_AVG,49.76,Normalized information about building where th...
43,FLOORSMAX_MEDI,49.76,Normalized information about building where th...
44,YEARS_BEGINEXPLUATATION_MODE,48.78,Normalized information about building where th...
45,YEARS_BEGINEXPLUATATION_MEDI,48.78,Normalized information about building where th...
46,YEARS_BEGINEXPLUATATION_AVG,48.78,Normalized information about building where th...
47,TOTALAREA_MODE,48.27,Normalized information about building where th...
48,EMERGENCYSTATE_MODE,47.40,Normalized information about building where th...

In [53]:
df_cur_app.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',
       'null_percent'],
      dtype='object', length=123)

In [58]:
missing_value_percentage = df_cur_app.isnull().sum().sort_values(ascending=False)/df_cur_app.shape[0]*100

In [66]:
col_to_drop = missing_value_percentage[missing_value_percentage > 40].index.to_list()

In [ ]:
df_cur_app.drop(columns=col_to_drop, inplace=True)

In [76]:
df_cur_app.shape

(307511, 73)

After dropping columns with more than 40% missing values, 49 columns were removed, leaving us with 73 columns in the dataset.

# Impute missing values for the remaining columns

Separate numeric and categorical columns

In [79]:
num_cols = df_cur_app.select_dtypes(include=[np.number]).columns.to_list()
cat_cols = df_cur_app.select_dtypes(include=['object']).columns.to_list()

Impute numeric columns with median

In [82]:
for col in num_cols:
  if df_cur_app[col].isnull().sum() > 0:
    df_cur_app[col].fillna(df_cur_app[col].median(), inplace=True)

<ipython-input-82-28ce6bbbbbea>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cur_app[col].fillna(df_cur_app[col].median(), inplace=True)

Impute categorical columns with mode

In [83]:
for col in cat_cols:
  if df_cur_app[col].isnull().sum() > 0:
    df_cur_app[col].fillna(df_cur_app[col].mode()[0], inplace=True)

<ipython-input-83-d2376cc8f28c>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cur_app[col].fillna(df_cur_app[col].mode()[0], inplace=True)

Verify no missing values remain

In [91]:
print(f'Remaining missing values: {df_cur_app.isnull().sum().sum()}')

Remaining missing values: 0

In [94]:
df_cur_app.shape

(307511, 73)

In [92]:
df_cur_app.to_csv('/content/drive/MyDrive/cur_app_cleaned.csv', index=False)